:root {
  --main-color: #212121;
  --background-color: #2f303a;
  --btn-color-one: #2196f3;
  --btn-color-two: #f5f4fa;
  --active-page-color: #2196f3;
  --logo-color-one: #000000;
  --logo-color-two: #2196f3;
  --logo-color-three: #ffffff;
  --contact-header-color: #757575;
  --paragraph-color: #757575;
  --accent-color-one: #188ce8;
  --accent-color-two: #2196f3;
  --h1-color: #ffffff;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --address-footer-color: #ffffff;
  --button-text-color: #ffffff;
  --button-accent-bckgrnd: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* a:visited {
  text-decoration: none;
} */
/* --------------------------------------------STUDIO PAGE-------------------------------------- */
/* -------HEADER---------- */
.container-header {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-one);
}
.web-logo {
  color: var(--logo-color-two);
}

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  padding: 32px 0;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-link:hover {
  color: var(--accent-color-one);
}
.header-link:focus {
  color: var(--accent-color-one);
}
.header-link-active {
  color: var(--active-page-color);
}
.link-contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-header-color);
  margin-left: auto;
}
.link-contacts-header + .link-contacts-header {
  margin-left: 50px;
}
.link-contacts-header:hover {
  color: var(--accent-color-two);
}
.link-contacts-header:focus {
  color: var(--accent-color-two);
}
/* ------HERO------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  text-align: center;
}
.hero-h1 {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--h1-color);
}
.hero-btn {
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  background: var(--btn-color-one);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--button-text-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}
.btn:hover {
  background-color: var(--button-accent-bckgrnd);
  cursor: pointer;
}
.btn:focus {
  background-color: var(--button-accent-bckgrnd);
}
/* -------ADVANTAGES LIST------- */
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
/* -------WHAT WE DO LIST------- */
.what-we-do-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* -------TEAM SQUAD------- */
.our-team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ----------FOOTER------------ */
.footer {
  background-color: var(--background-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-three);
}
.link-contacts-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-footer-color);
}
.link-address-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-footer-color);
}
.link-contacts-footer:hover,
.link-address-footer:hover {
  color: var(--accent-color-two);
}
.link-contacts-footer:focus,
.link-address-footer:focus {
  color: var(--accent-color-two);
}
/* ------------------------------PORTFOLIO PAGE---------------------------------*/
.portfolio-btn-filter {
  background: var(--btn-color-two);
  border-color: inherit;
  border-radius: 4px;
  font-family: inherit;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-btn-filter:hover,
.portfolio-btn-filter:focus {
  color: var(--button-text-color);
}
.portfolio-content-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-content-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
